

<mat-sidenav-container class="flashcards-container" >
    <mat-sidenav #sidenav mode="side" [opened]="sidenavState">
        <span>
          <button mat-icon-button  (click)="sidenav.close()">
              <mat-icon aria-label="Toggle menu">close</mat-icon>
            </button>
        </span>
      <app-flat-categories></app-flat-categories>
     <mat-nav-list>
     <mat-list-item>
      <a matLine  [routerLink]="['/setup/home']" routerLinkActive="active" >setup</a>
    </mat-list-item>
  </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
           <span>
                <button mat-icon-button  (click)="sidenav.toggle()">
                    <mat-icon aria-label="Toggle menu">menu</mat-icon>
                 </button>
            </span>
            <span><h1>Welcome to flashcards!</h1></span>
          </mat-toolbar>
           <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>






